<!DOCTYPE html>
<html>
  <head>
    <title>Voting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        You're logging in as <%= current_user.name %>
      <% else %>
        Login from <%= link_to 'here', signup_url %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
